{% from 'layouts/field.html' import render_text_field %}
{% extends "user/account.html" %}

{% block main_col %}
<form action="" method="post" class="card">
    <div class="card-header fs-3">Change password</div>
    <div class="card-body">
        {{ form.hidden_tag() }}
        {{ render_text_field(form.old_password) }}
        {{ render_text_field(form.new_password) }}
        {{ render_text_field(form.confirm_new_password) }}
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>
{% endblock main_col %}