<div class="ticket text-center">
    <h1 class="text-center">{{ data['app_name'] }}</h1>
    <h2 class="text-secondary text-center">{{ data['title'] }}</h2>
    <div class="row d-flex justify-content-between">
        <p><strong>From:</strong> {{ data['reservation'].flight_seat.flight.route.depart_airport.name }}</p>
        <p><strong>To:</strong> {{ data['reservation'].flight_seat.flight.route.arrive_airport.name }}</p>
    </div>
    <hr>
    <h3 class="card-title font-weight-bold text-center">Flight Details</h3> 
    <p>Airline: {{ data['reservation'].flight_seat.aircraft_seat.aircraft.airline.name}}</p>
    <div class="row d-flex justify-content-between">
        <p><strong>Depart time:</strong> {{ data['reservation'].flight_seat.flight.depart_time }}</p> 
        <p><strong>Arrive time:</strong> {{ data['reservation'].flight_seat.flight.arrive_time }}</p>
    </div>
    <div class="row d-flex justify-content-between">
        <p><strong>Depart Airport:</strong> {{ data['reservation'].flight_seat.flight.route.depart_airport.name }}</p>
        <p><strong>Arrive Airport:</strong> {{ data['reservation'].flight_seat.flight.route.arrive_airport.name }}</p>
    </div>
    <hr>
    <h3 class="card-title font-weight-bold text-center">Booking Details</h3>
    <div class="text-center">
        <div><strong>Flight Code:</strong> {{ data['reservation'].id }}</div>
        <div><strong>Price:</strong> {{ data['reservation'].flight_seat.price }}</div>
        <div><strong>Seat:</strong> <span class="font-weight-bold">{{ data['reservation'].flight_seat.aircraft_seat.seat_name }}</span></div>
        <div><strong>Owner:</strong> <span class="font-weight-bold">{{ data['reservation'].owner.full_name }}</span></div>
        <div><strong>Owner's citizen ID:</strong> <span>{{ data['reservation'].owner.citizen_id }}</span></div>
        <div><strong>Owner's phone:</strong> <span>{{ data['reservation'].owner.phone }}</span></div>
        <div><strong>Owner's email:</strong> <span>{{ data['reservation'].owner.email }}</span></div>
        <p class="mt-3 text-muted">Thank you for using our service!</p>
    </div>
</div>
