{% from "flights/components/flight_route.html" import render_flight_route %}
{% from "flights/components/flight_info.html" import render_flight_info %}
{% from "bookings/components/reservation_info.html" import render_reservation_info %}


{% macro render_reservation_card(reservation, class = "") %}
    {% set flight = reservation.flight_seat.flight %}
    <div class="card shadow {{class}} overflow-hidden">
        <div class="row g-0">
            {{render_flight_route(flight, class="col-md-4 col-lg-3 p-2")}}
            {{render_flight_info(flight, class="col-md-4 col-lg-3 p-2 border-start")}}
            {{render_reservation_info(reservation, class="col-md-4 p-2 border-start")}}
            <div class="col-lg-2 col-12 text-white" style="min-height: 40px;">
                {% if reservation.status.value == 1 %}
                    <a href="#" class="btn btn-success h-100 w-100 rounded-0" style="align-content: center;">Show ticket</a>
                {% elif reservation.status.value == 2 %}
                    <a href="#" class="btn btn-primary h-100 w-100 rounded-0" style="align-content: center;">Pay</a>
                {% elif reservation.status.value == 3 %}
                    <div class="bg-danger h-100 w-100 text-center" style="align-content: center;">Canceled</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}