{% extends "layouts/base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% endwith %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a href="/schedule" class="btn btn-primary me-4"><i class='fas fa-angle-left'></i> Back</a>
                    <h2><b>Route Id:</b> {{ route.id }}</h2>
                </div>

                <form action="/schedule/{{ route.id }}" method="get">
                    <input type="text" class="d-none" value="1" name="page">
                    <button class="btn btn-secondary">View created flight schedules</button>
                </form>
            </div>
            <div class="p-4 my-3 border border-2 rounded-5 bg-white">
                <form action="/schedule/{{ route.id }}" method="post">
                    <input type="text" class="d-none" name="route_id" value="{{ route.id }}">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="departureAirport" class="form-label">Depart Airport</label>
                            <input type="text" id="departureAirport" class="form-control" name="departureAirport" value="{{ route.depart_airport.name }}"
                               readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="arrivalAirport" class="form-label">Arrive Airport</label>
                            <input type="text" id="arrivalAirport" class="form-control" name="arrivalAirport" value="{{ route.arrive_airport.name }}"
                                readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="departureDateTime" class="form-label">Depart Date Time</label>
                            <input type="datetime-local" id="departureDateTime" class="form-control" name="departureDateTime">
                        </div>
                        <div class="col-md-3">
                            <label for="flightDuration" class="form-label">Flight Duration</label>
                            <input type="number" id="flightDuration" class="form-control" placeholder="minutes" name="flightDuration">
                        </div>
                        <div class="col-md-6">
                            <label for="aircraft" class="form-label">Aircraft</label>
                            <select class="form-select" id="aircraft" name="aircraft">
                                {% for a in aircrafts %}
                                    <option value="{{ a.id }}">{{ a.name }}</option>    
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="my-4">
                        <hr>
                    </div>

                    <div id="intermediates">
                        <h3>Intermediate Airport</h3>

                    </div>

                    <div class="d-flex justify-content-between mt-3">
                        <div>
                            <button type="button" id="addIntermediate" class="btn btn-success rounded-4 me-2">+</button>
                            <span>(Remaining: <span id="remaining">2</span>)</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Schedule</button>
                    </div>
                    <!--  -->
                    <div class="d-none" id="regulations">
                        <input type="number" value="2" id="regulationNumberIntermediate" />
                    </div>
                </form>
            </div>

            {% if flights %}
            <div class="createdFlights mt-4">
                <div class="row align-items-center p-3">
                    <div class="col-md-1 col-12"></div>
                    <h3 class="text-center col-md-10 col-10">Created flights schedules</h3>
                    <button class="btn btn-secondary col-md-1 col-2" id="btnCloseCreatedFlights">Close</button>
                </div>
                <div class="p-4 my-3 border border-2 rounded-5 bg-white">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Route Id</th>
                                <th>Depart time</th>
                                <th>Arrive time</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for f in flights %}
                            <tr>
                                <td>{{f.id}}</td>
                                <td>{{f.route_id}}</td>
                                <td>{{f.depart_time}}</td>
                                <td>{{f.arrive_time}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <!-- Previous Button -->
                            <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                                <a class="page-link" href="/schedule/{{route.id}}?page={{current_page - 1}}" aria-label="Previous">
                                    <span aria-hidden="true"><i class='fas fa-angle-left'></i></span>
                                </a>
                            </li>
                    
                            <!-- First Page -->
                            {% if current_page > 3 %}
                            <li class="page-item"><a class="page-link" href="/schedule/{{route.id}}?page=1">1</a></li>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% endif %}
                    
                            <!-- Pages around the current page -->
                            {% for page in range(current_page - 2 if current_page > 2 else 1, current_page + 3 if current_page + 2 <= pages else pages + 1) %}
                            <li class="page-item {% if page == current_page %}active{% endif %}">
                                <a class="page-link" href="/schedule/{{route.id}}?page={{page}}">{{page}}</a>
                            </li>
                            {% endfor %}
                    
                            <!-- Last Page -->
                            {% if current_page < pages - 2 %}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            <li class="page-item"><a class="page-link" href="/schedule/{{route.id}}?page={{pages}}">{{pages}}</a></li>
                            {% endif %}
                    
                            <!-- Next Button -->
                            <li class="page-item {% if current_page == pages %}disabled{% endif %}">
                                <a class="page-link" href="/schedule/{{route.id}}?page={{current_page + 1}}" aria-label="Next">
                                    <span aria-hidden="true"><i class='fas fa-angle-right'></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</div>
<style>
    [readonly] {
        pointer-events: none;
        background-color: #f0f0f0;
    }

    .regulation {
        pointer-events: none;
        opacity: 0.5;
    }

    footer{
        margin-top: 20%;
    }
</style>
<script>
    const numberOfAirports = parseInt(document.getElementById('regulationNumberIntermediate').value)
    const remaining = document.getElementById("remaining")
    // Add button
    let intermediateCount = 0;

    document.getElementById("addIntermediate").addEventListener("click", function () {
            intermediateCount++;
            remaining.innerText = numberOfAirports - intermediateCount
            const intermediateDiv = document.createElement("div");
            intermediateDiv.classList.add("mt-3");
            intermediateDiv.innerHTML = `
                <div class="row align-items-end">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger remove-intermediate rounded-4">-</button>
                    </div>
                    <div class="col-md-5">
                        <label for="intermediateAirport" class="form-label">Intermediate Airport</label>
                        <select class="form-select" id="intermediateAirport" name="intermediateAirport">
                            {% for a in airports %}
                                <option value="{{ a.id }}">{{ a.name }}</option>    
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="intermediateArrivalTime" class="form-label">Intermediate Arrival Time</label>
                        <input type="datetime-local" id="intermediateArrivalTime" name="intermediateArrivalTime" class="form-control" placeholder="minutes">
                    </div>
                    <div class="col-md-3">
                        <label for="intermediateDuration" class="form-label">Intermediate Duration</label>
                        <input type="number" id="intermediateDuration" name="intermediateDuration" class="form-control" placeholder="minutes">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class=col-md-1 col-12></div>
                    <div class="col-md-11">
                        <label for="intermediateNotes" class="form-label">Note</label>
                        <textarea id="intermediateNotes" name="intermediateNotes" class="form-control"></textarea>
                    </div>
                </div>
              `;
            document.getElementById("intermediates").appendChild(intermediateDiv);

            // Remove button
            intermediateDiv.querySelector(".remove-intermediate").addEventListener("click", function () {
                intermediateDiv.remove();
                intermediateCount--;
                document.getElementById('addIntermediate').classList.remove('regulation')
                remaining.innerText = numberOfAirports - intermediateCount
            });

            if (intermediateCount === numberOfAirports) {
                document.getElementById('addIntermediate').classList.add('regulation')
            }
        
    });


    document.getElementById("btnCloseCreatedFlights").addEventListener("click", function (){
        document.querySelector(".createdFlights").classList.add("d-none")
    })

</script>
{% endblock %}